    .list {
      background: lightskyblue;
      max-width: 200px;
      padding: 10px;
      margin: 10px;

      &__item {
        padding: 5px 0;
        background: grey;
        margin: 5px 0;

        p {
          padding: 0 5px;
        }
      }
    }
